<h1>Esta es la página de BIOGRAFÍA</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut ea maiores repudiandae, autem et accusantium deleniti
    similique! Iusto expedita aliquid obcaecati vitae molestias minus dolorum voluptatum consequuntur, officiis commodi.
    Repellendus?</p>